{
  "env": {
    "umd": {
      "plugins": [
        ["transform-es2015-modules-umd", {
          "globals": {
            "LogEntry.src": "LogEntry"
          },
          "exactGlobals": true
        }]
      ]
    },
    "cjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs"]
      ]
    }
  },
  "presets": [
    "env",
    "stage-3"
  ],
  "plugins": [
    "transform-class-properties"
  ]
}
